<h2>{{titulo}}</h2>

    <div class="">
        {{#if hayProductos}}
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <tr>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Precio</th>

                    <th>Eliminar/Editar</th>
                </tr>
                {{#each array_productos}}
                    <tr>
                        <td><img src="{{thumbnail}}" alt="{{title}}" width="40"></td>
                        <td>{{title}}</td>
                        <td>$ {{price}}</td>

                        <td>
                            <button class="btn btn-danger" onclick="eliminarProducto({{id}})">Eliminar</button>
                            <button class="btn btn-warning" onclick="editarProducto({{id}})">Editar</button>
                        </td>
                    </tr>
                {{/each}}
            </table>
        {{else}}
            <p class="alert alert-warning">No hay Artículos para mostrar...</p>
        {{/if}}
    </div>
    </div>
